.product-container {
    max-width: calc(var(--mobile-width) * 2);
}

.product__details .product__content {
    padding: 40px;
    height: 100%;
    justify-content: space-between;
}

.product__details .product__content h1 {
    width: 80%;
}

.product__details .product__content p {
    width: 90%;
}